#
# configure rsyslogd to include logfiles from nginx/apache
# needs 010_loggly.config
# Save this file as .ebextensions/015_nginx-logentries.config
# replace TOKEN
# Deploy per normal scripts or aws.push. To help debug the push, ssh & tail /var/log/cfn-init.log
# See Also /var/log/eb-tools.log
#

files:
  "/etc/rsyslog.d/21-nginx-logentries.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
        $ModLoad imfile
        $InputFilePollInterval 10 
        $PrivDropToGroup adm
        $WorkDirectory /var/spool/rsyslog

        # nginx access file:
        $InputFileName /var/log/nginx/access.log
        $InputFileTag nginx-access:
        $InputFileStateFile stat-nginx-access
        $InputFileSeverity info
        $InputFilePersistStateInterval 20000
        $InputRunFileMonitor

        #nginx Error file: 
        $InputFileName /var/log/nginx/error.log
        $InputFileTag nginx-error:
        $InputFileStateFile stat-nginx-error
        $InputFileSeverity error
        $InputFilePersistStateInterval 20000
        $InputRunFileMonitor

        #Add a tag for nginx events
        $template LogentriesFormat,"cf944190-cea3-4361-9377-b39de1452ae2 %HOSTNAME% %syslogtag%%msg%\n"

        if $programname == 'nginx-access' then @@api.logentries.com:10000;LogentriesFormat
        if $programname == 'nginx-access' then ~
        if $programname == 'nginx-error' then @@api.logentries.com:10000;LogentriesFormat
        if $programname == 'nginx-error' then ~

commands:
  010_create_rsyslog_folder: 
    command: su --session-command="mkdir -p /var/spool/rsyslog"
    ignoreErrors: true

services: 
  sysvinit:
    rsyslog:
      ensureRunning: true
      files: "/etc/rsyslog.d/21-nginx-logentries.conf"