commands: 
  01edit-rsyslog-conf: 
      command: echo '$template LogentriesFormat,"cf944190-cea3-4361-9377-b39de1452ae2 %HOSTNAME% %syslogtag%%msg%\n"' > /etc/rsyslog.d/logger.conf 
  02add-second-line: 
      command: echo '*.* @@api.logentries.com:10000;LogentriesFormat' >> /etc/rsyslog.d/logger.conf 
  03restart-syslog: 
      command: service rsyslog restart